body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Até 5 colunas */
  gap: 60px; /* Espaçamento entre os cards */
  justify-items: center; /* Centraliza os cards */
  padding: 20px;
  max-width: 1200px; /* Largura máxima do container */
  margin: auto; /* Centraliza o container na página */
}
/*
.card {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 210px;
  height: 200px;
  text-align: left;
}

.card-title {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  width: 100%;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: none;
}

.popup h2 {
  margin-top: 0;
}

.popup label {
  display: block;
  margin-bottom: 5px;
}

.popup input[type="text"], .popup input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group label {
  margin-right: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.criar-sala-content, .inscrever-sala-content {
  display: none;
}

.criar-sala-content.show, .inscrever-sala-content.show {
  display: block;
}

.add-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  height: 200px;
  width: 210px;
  display: flex;             
  justify-content: center;   
  align-items: center;       
  font-size: 3em;
}

button#openPopupBtn {
  background: none;    
  border: none;        
  padding: 0;          
  cursor: pointer;     
}

button#openPopupBtn img {
  display: block;      
  max-width: 100%;         
  height: auto;        
}

.add-card:hover {
  background-color: #e0e0e0;
}

.btn {
  background-color: #2196F3;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #1976D2;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: none;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Centraliza o modal */
  width: 80%; /* Largura do modal */
}